<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link rel="stylesheet" type="text/css" href="{% static 'crud/style.css' %}" />
  </head>

  <body>
    <header class="top" role="header">
      <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="navbar-nav nav">
                <li><a href="{% url 'athletes:index' %}">Home</a></li>
                <li><a href="{% url 'athletes:add' %}">Add Athlete</a></li>
            </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid">
      {% block body_block %}{% endblock %}
    </div>
    <br />
    <div id="button-container">
      <button id='crazy-button'>Super Cool Button</button>
    </div>
    <div id='music-container'></div>
    <script src="{% static 'crud/script.js' %}"></script>
  </body>

</html>

